.locationButton {
  position: absolute;
  width: 15rem;
  height: 5vh;
  top: 90%;
  left: 18vw;
  /* margin-top: 45vh;
  margin-left: -8rem; */
  border-radius: 0.6rem 0.6rem 0.6rem 0.6rem;
  background-color: #1a1a1a;
}

.selectText {
  font-size: 0.7rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
