.UploadButton {
    /* position: absolute; */
    width: 11rem;
    height: 4.5vh;
    /* margin-top: 60vh;
      margin-left: 30%; */
    border-radius: 0.5rem;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    text-align: center;
  }
  
  .UploadText {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  