.frame {
    height: 100vh;
    width: 100vw;
  }
  
  .back {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    background-image: url("../../assets/snowing.svg"),
      url("../../assets/initBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 95vw;
    border: 2px white solid;
    background-color: transparent;
  }
  
  .displayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 1vw;
  }
  
  .image {
    width: 32vw;
    height: 15vh;
  }
  