.Endpage {
  height: 100vh;
  background-image: url("../../assets/DetailBackimg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

.Endcomponent {
  margin: auto;
  margin-top: 17vh;
}

.Endtext {
  margin-left: 21%;
  font-size: 1rem;
  font-weight: 700;
}

.CurtainImage {
  width: 22rem;
  height: 50vh;
}

.EndHome {
  position: absolute;
  margin-top: -26.5vh;
  margin-left: 46%;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
}
