.background {
  height: 100vh;
  background-image: url("../../assets/initBackground.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.hatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}

.santahat {
  padding-left: 7vw;
  height: 7vh;
}

.startguide {
  font-size: 1.2rem;
  font-weight: 900;
  flex: 1;
}

.snowMan {
  padding-left: 5vw;
  width: 45vw;
  justify-self: flex-end;
}

.snowManBox {
  padding-top: 24vh;
  padding-bottom: 5vh;
}

.guideOff {
  display: none;
}

@keyframes hatAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(30vh);
  }
}

.moveHat {
  height: 7vh;
  padding-left: 8vw;
  animation: hatAnimation 2s ease-in-out forwards;
}

.afterLogo {
  margin-right: 7vw;
  width: 70vw;
  height: 20vh;
  padding-left: 7vw;
  animation: hatAnimation 2s ease-in-out forwards;
}

.logo {
  margin-right: 7vw;
  width: 70vw;
  height: 20vh;
}
