.frame {
  height: 100vh;
  background-image: url("../../assets/initBackground.svg");
  background-size: cover;
}
.displayContainer {
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
}