.Detailpage {
  height: 100vh;
  background-image: url("../../assets/DetailBackimg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-attachment: fixed; */
}

.TitleInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detailcomponent {
  margin: auto;
  margin-top: 20vh;
}

.PhotoUpload {
  margin-top: 1vh;
}

.DetailButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
